<!-- <ion-header>
  <ion-toolbar>
    <ion-title>list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <div class="container">

    <div class="navbar">
      <div class="hotelname">
        <p>Hotel Uzuri</p>
      </div>

      <div class="exit">
        <ion-icon name="exit" (click)="logout()"></ion-icon>
      </div>
    </div>

    <div class="body">
      <div class="profile">
        <div class="img">
          <img src="{{displayProfile.image}}">
        </div>

        <div class="navs">
          <p>Suites</p>
          <p>Users</p>
        </div>

      </div>
      <div class="list">



        <div class="card" *ngFor="let n of rooms" (click)="getroom(n)" style="flex-grow: 1">

          <div class="rooms">
            <img src="{{n.Image}}">


          </div>
          <div class="desc">
            <p>{{n.Description}}</p>
          </div>
        </div>

        <div class="btn">
          <ion-fab-button color="dark" (click)="presentModal()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </div>


      </div>

      <div class="display">
        <div class="roomImage">
          <ion-button color="dark" (click)="onClick()">
            View bookings
          </ion-button>
          <img src="{{room.Image}}">
          <div class="editbtn">
            <ion-fab-button color="dark" (click)="presentModal()">
              <ion-icon name="create"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
        <div class="details">
          <h2>{{room.Name}}</h2>
          <div class="extra">
            <p>{{room.Description}}</p>
            <p>{{room.Price | currency:'&#82;'}}</p>
            <p class="feat">FEATURES</p>
            <div class="feature" *ngFor="let n of suite.features">
              {{n}}
            </div>
            <br>
            <p>Beds: {{room.Bed}}</p>
            <p>Baths: {{room.Bathroom}}</p>
          </div>

        </div>

        <div class="bookings">
          <div class="disp" *ngFor="let n of displayBooking">
            <div *ngIf="n.roomName==room.Name">
              <!-- <div class="name">
                {{n.roomName}}
              </div> -->

              <div class="bookee">
                <div class="Bname">
                  {{n.name}}
                </div>
                <div class="no">
                  {{n.phone}}
                </div>
              </div>
            </div>
            <div class="dates">
              <div class="checkin">
                Check-In: <br>{{n.date1}}
              </div>
              <div class="checkout">
                Check-Out:<br> {{n.date2}}
              </div>
            </div>
            <div class="days">
              No. of days at the hotel : {{n.nodays}}
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="container"> 

    <div class="info">
      <div class="list">
        <div class="card" *ngFor="let n of rooms" (click)="getroom(n)" style="flex-grow: 1">
          <div class="rooms">
            <img src="{{n.Image}}">
          </div>

          <div class="deletes">
            <div class="desc">
              <p>{{n.Description}}</p>
            </div>
            <div class="btns">
              <div class="del">
                <ion-buttons end (click)="deleteRoom(n)">
                  <button ion-button color="danger" id="delete">
                    Delete
                  </button>
                </ion-buttons>
              </div>

              
            </div>

          </div>
        </div>

      </div>

      <div class="right" style="flex-grow: 3">
        <div class="top">
          <div class="nav">
            <p>WELCOME {{displayProfile.firstname}}</p>
          </div>
          <div class="propic" (click)=" logout()">
            <img src="{{displayProfile.image}}">
          </div>
        </div>
        <div class="bottom">

          <div class="leftB">
            <div class="suites">
              <div class="roooms">
                <img src="{{room.Image}}">
              </div>

              <div class="display">
                <h2>{{room.Name}}</h2>
                <p>{{room.Description}}</p>
                <p>R{{room.Price}}</p>
                <p class="feat">FEATURES</p>
                <p>{{room.features}}</p>
                <p>{{room.Mini}}</p>
                <p>{{room.Tea}}</p>
                <p>{{room.Break}}</p>
                <p>{{room.Satellite}}</p>
                <p>{{room.Wifi}}</p>
                <p>{{room.roomService}}</p>
                <br>
                <p>Beds: {{room.Bed}}</p>
                <p>Baths: {{room.Bathroom}}</p>

              </div>


            </div>

          </div>
          <div class="rightB">

            <div class="bookings">
              <div class="disp" *ngFor="let n of displayBooking">
                <div *ngIf="n.roomName==room.Name">
                  <div class="name">
                    {{n.roomName}}
                  </div>
                
                  <div class="bookee">
                    <div class="Bname">
                      {{n.name}}
                    </div>
                    <div class="no">
                      {{n.phone}}
                    </div>
                  </div>
                </div>
              </div>
  
                  <div class="dates">
                    <div class="checkin">
                      Check-In: <br>{{n.date1}}
                    </div>
                    <div class="checkout">
                      Check-Out:<br> {{n.date2}}
                    </div>
                  </div>
                  <div class="days">
                    No. of days at the hotel : {{n.nodays}}
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="userform">
      <img src="../../assets/181518.png">
      <div class="controls">
        <ion-input type="text" placeholder="Name" [(ngModel)]="suite.Name" class="p"></ion-input>
        <ion-select [(ngModel)]="suite.Type" class="slct">
          <ion-select-option disabled selected> - Pick Room Type -</ion-select-option>
          <ion-select-option>Double Room</ion-select-option>
          <ion-select-option>Single Room</ion-select-option>
          <ion-select-option>Family Room</ion-select-option>
        </ion-select>
        <ion-input type="text" placeholder="Price" [(ngModel)]="suite.Price" class="p"></ion-input>
        <ion-select [(ngModel)]="suite.Bed" class="slct">
          <ion-select-option disabled selected> - No. of bedrooms -</ion-select-option>
          <ion-select-option>1 Bed</ion-select-option>
          <ion-select-option>2 Beds</ion-select-option>
          <ion-select-option>3 Beds</ion-select-option>
        </ion-select>
        <ion-select [(ngModel)]="suite.Bathroom" class="slct">
          <ion-select-option disabled selected> - No. of bathrooms -</ion-select-option>
          <ion-select-option>1 Bathroom</ion-select-option>
          <ion-select-option>2 Bathrooms</ion-select-option>
          <ion-select-option>3 Bathrooms</ion-select-option>
        </ion-select>
        <ion-textarea placeholder="Description" [(ngModel)]="suite.Description" class="p"></ion-textarea>
        <div class="feat1">

          <ion-textarea placeholder="Features" [(ngModel)]="suite.features" class="p"></ion-textarea>
        </div>

        <button (click)="changeListener(pic)">Send</button>
      </div>
    </div>
  </div> -->

</ion-content>