.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item{
    width: 80%;
}

#img{
    width: 80%;
}

.button{
    width: 80%;
    position: relative;
    top: 10px;
}